@font-face {
	font-family: "LogoBloquo";
	src: url("../fonts/LogoBloquo.ttf");
	font-weight: normal;
}

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 0;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: LogoBloquo;
}

body{
	background-image: url("../img/background1.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

section{
	text-align: center;
}

.gamePage, .scoresPage, .taskPage, .spellPage{
	display: none;
}

.regPage{
	width: 95vw;
	height: 95vh;
	background-color: rgba(255,255,255,0.7);
	margin: 2.5vh auto;
}

.gamePage, .scoresPage{
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.round{
	color: #f2ce0c;
	margin: 0 auto 20px;
}

.spellPage, .taskPage{
	position: absolute;
	top:0;
	left:25vw;
	width: 500px;
	height: 500px;
	background-color: gainsboro;
	margin: 25vh auto;
}

h2{
	display: block;
	font-size: 50px;
	color: #000000;
	margin: 0 auto 50px;
}

label{
	color: #000000;
	font-size: 30px;
}

input{
	width: 300px;
	height: 50px;
	background-color: rgba(255,255,255,0.7);
	color: #000000;
	font-size: 25px;
	text-align: center;
	margin: 0 20px;
	border: 1px solid #000000;
}

button{
	background-color: #ffffff;
	color: #000000;
	font-size: 25px;
	padding: 11px 40px;
	cursor: pointer;
}

.playerImage{
	width: 200px;
	height: 500px;
	position: absolute;
	top: 30vh;
	left: 20vh;
	background-color: cornflowerblue;
	font-size: 50px;
	color: white;
	display: none;
}

.monsterImage{
	width: 200px;
	height: 500px;
	position: absolute;
	top: 30vh;
	right: 20vh;
	background-color: #ed6de2;
	font-size: 50px;
	color: white;
	display: none;
}

.fighterNames{
	display: flex;
	justify-content: space-between;
}

.playerName, .monsterName{
	display: flex;
	font-size: 40px;
	color: #ffffff;
	padding: 10px 30px;
	background: radial-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.fighterHealthes{
	display: flex;
	justify-content: space-between;
}

.fighterHealth{
	display: flex;
	justify-content: flex-start;
	width: 30vw;
	height: 3vh;
	background-color: #de0f18;
	border: 1px solid #ffffff;
	margin: 0 30px;
}

.monsterHealth{
	justify-content: flex-end;
}

.playerHealthRemain, .monsterHealthRemain{
	display: flex;
	height: 100%;
	background-color: #00ad00;
	font-size: 2.5vh;
	font-weight: bold;
	color: #ffffff;
}

.monsterHealthRemain{
	justify-content: flex-end;
}

.spellType{
	width: 50%;
	height: 50%;
	cursor: pointer;
}

.taskCondition{

}

table{
	width: 70%;
	margin: 0 auto 5vh;
}

th{
	width: 50%;
	font-size: 3vh;
	padding: 2vh;
	color: #ffffff;
}

td{
	width: 50%;
	font-size: 3vh;
	color: #ffffff;
}





.arena1{background-image: url("../img/arena1.jpg");}
.arena2{background-image: url("../img/arena2.png");}
.arena3{background-image: url("../img/arena3.png");}
.arena4{background-image: url("../img/arena4.png");}




.spritePlayer{
	position: absolute;
	left: 10vw;
	top: 50vh;
	width: 330px;
	height: 250px;
	transform: scale(1.5);
}



.spritePlayerIdle
{
	background: url(../img/spritePlayer.png) no-repeat 0 0;

	-webkit-animation-name: spritePlayerIdle;
	-webkit-animation-duration: 700ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spritePlayerIdle
{
	0% {background-position: 0px 0px;}
	12.5% {background-position: 0px 0px;}
	12.501% {background-position: -330px 0px;}
	25% {background-position: -330px 0px;}
	25.001% {background-position: -660px 0px;}
	37.5% {background-position: -660px 0px;}
	37.501% {background-position: -990px 0px;}
	50% {background-position: -990px 0px;}
	50.001% {background-position: -1320px 0px;}
	62.5% {background-position: -1320px 0px;}
	62.501% {background-position: -1650px 0px;}
	75% {background-position: -1650px 0px;}
	75.001% {background-position: -1980px 0px;}
	87.5% {background-position: -1980px 0px;}
	87.501% {background-position: -2310px 0px;}
	99.999% {background-position: -2310px 0px;}
	100% {background-position: 0px 0px;}

}

.spritePlayerFire
{
	background: url(../img/spritePlayerFire.png) no-repeat 0 0;

	-webkit-animation-name: spritePlayerFire;
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spritePlayerFire
{
	0% {background-position: 0px 0px;}
	20% {background-position: 0px 0px;}
	20.001% {background-position: -340px 0px;}
	40% {background-position: -340px 0px;}
	40.001% {background-position: -680px 0px;}
	60% {background-position: -680px 0px;}
	60.001% {background-position: -1020px 0px;}
	80% {background-position: -1020px 0px;}
	80.001% {background-position: -1360px 0px;}
	99.999% {background-position: -1360px 0px;}
	100% {background-position: 0px 0px;}

}

.spritePlayerHeal
{
	background: url(../img/spritePlayerHeal.png) no-repeat 0 0;

	-webkit-animation-name: spritePlayerHeal;
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spritePlayerHeal
{
	0% {background-position: 0px 0px;}
	20% {background-position: 0px 0px;}
	20.001% {background-position: -330px 0px;}
	40% {background-position: -330px 0px;}
	40.001% {background-position: -660px 0px;}
	60% {background-position: -660px 0px;}
	60.001% {background-position: -990px 0px;}
	80% {background-position: -990px 0px;}
	80.001% {background-position: -1320px 0px;}
	99.999% {background-position: -1320px 0px;}
	100% {background-position: 0px 0px;}

}




